@model DashboardIndexViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row g-4">
    <div class="col-md-6">
        <div class="card shadow-sm card-summary">
            <div class="card-body">
                <h3 class="card-title">Metal Summary</h3>
                <p class="text-muted">Metal dönemsel özet kayıtları</p>
                <h2>@Model.MetalRecordCount</h2>
                <a asp-controller="Dashboard" asp-action="Metal" class="btn btn-primary mt-2">Open Metal Dashboard</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow-sm card-summary">
            <div class="card-body">
                <h3 class="card-title">TCMB Rates Summary</h3>
                <p class="text-muted">TCMB dönemsel kur özet kayıtları</p>
                <h2>@Model.RateRecordCount</h2>
                <a asp-controller="Dashboard" asp-action="Rates" class="btn btn-primary mt-2">Open Rates Dashboard</a>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="card shadow-sm card-summary">
            <div class="card-body">
                <h3 class="card-title">Metal Ratios Summary</h3>
                <p class="text-muted">Metal dönemsel ratio kayıtları</p>
                <h2>@Model.RatioRecordCount </h2>
                <a asp-controller="Dashboard" asp-action="RatiosV1" class="btn btn-primary mt-2">Open Ratios Dashboard</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow-sm card-summary">
            <div class="card-body">
                <h3 class="card-title">Metal Ratios Summary With Charts</h3>
                <p class="text-muted">Metal dönemsel ratio kayıtları V2</p>
                <h2>@Model.RatioRecordCount </h2>
                <a asp-controller="Dashboard" asp-action="Ratios" class="btn btn-primary mt-2">Open Ratios Dashboard With Charts</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow-sm card-summary">
            <div class="card-body">
                <h3 class="card-title">TCMB Rates Summary With Charts</h3>
                <p class="text-muted">TCMB dönemsel kur özet kayıtları V2</p>
                <h2>@Model.RateRecordCount</h2>
                <a asp-controller="Dashboard" asp-action="RatesV2" class="btn btn-primary mt-2">Open Rates Dashboard With Charts</a>
            </div>
        </div>
    </div>
     
</div>